.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #110f21;
  color: white;
}

.logoTitleBlock {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

.shoppingLoggingBlock {
  display: flex;
  margin-right: 5rem;
}

.favoritesCartBlock {
    display: flex;
    margin-right: 2rem;
}

.registrationLogInBlock {
    display: flex;
    align-items: center;
}