.form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form .formItem {
  display: flex;
  flex-direction: column;
  height: 4rem;
}

.form .formItem input {
  height: 1.5rem;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #707070;
  margin-top: -8px;
}

.form .formItem label {
  font-size: 0.7rem;
  margin-left: 10px;
  z-index: 0;
}

.form .formItem label span {
  visibility: hidden;
  padding: 0 5px;
  background-color: white;
  color: #707070;
}

.showPassword {
  align-self: flex-end;
  width: 1rem;
  margin-right: 10px;
  margin-top: -30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.form input[type='submit'] {
  margin-top: 5px;
  background-color: #fd7114;
  border: none;
  color: white;
  font-weight: bold;
  height: 2rem;
  cursor: pointer;
}

.formItem .infoMessage {
  font-size: 0.7rem;
  margin: 0;
  color: #707070;
}
