.menu {
  display: flex;
  margin-bottom: 60px;
}

.menu a {
  text-decoration: none;
  border: 1px solid #dedee0;
  border-radius: 4px;
  padding: 20px;
  color: black;
}

.menu a:focus,
.menu .focused {
  background-color: #fd7114;
  color: white;
}