.itemsBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.itemsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  z-index: -1;
}

.itemsBlock button {
  position: relative;
  background-color: #148dfd;
  border-color: #148dfd;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  padding: 6px 16px;
}
