.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10rem;
  height: 9rem;
  padding: 5px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.item img {
  align-self: center;
  width: 65%;
  height: 65%;
}

.item p {
  margin: 3px;
  font-size: 0.8rem;
}

.item span {
  font-weight: bold;
}
