.blurBg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 35.28%;
  right: 35.21%;
  top: 15.37%;
  bottom: 24.5%;
  background-color: white;
  box-shadow: 0px 0px 12px 0px #000000 10%;
  border-radius: 4px;
  z-index: 2;
}
.register .close {
  align-self: flex-end;
  margin: 10px 10px 0 0;
  cursor: pointer;
}

.showPassword {
  align-self: flex-end;
  width: 1rem;
  margin-right: 10px;
  margin-top: -55px;
  margin-bottom: 30px;
  cursor: pointer;
}

.logIn {
  position: absolute;
  left: 35.21%;
  right: 35.28%;
  top: 76.89%;
  bottom: 14.07%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.logIn a {
  margin-left: 5px;
  color: #fd7114;
}
