.footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #f1f1f3;
  color: darkgrey;
  flex-shrink: 0;
}
